body {
    font:13px/1.5 'Helvetica Neue','Lucida Grande',Microsoft YaHei,Arial,'Liberation Sans',sans-serif;
    color: #afb0b2;
    word-break: break-all;
    word-wrap: break-word;
    /*background: url("../images/bg.jpg") center 0 no-repeat;*/
    background-color: #111318
}
a{
    text-decoration: none;
    color: #afb0b2;
}
a:hover,a.active{
    color: #e4b35a;
    text-decoration: none;
}
a:focus{
    outline: none;
}

#header{
    width:100%;
    min-width: 1120px;
    height:105px;
    background: url("../img/site-bg2.jpg") 50% 0 no-repeat;
}
#site-nav,#page-nav{
    width: 1120px;
    margin: 0 auto;
    overflow: visible;
}
#site-nav{
    height:60px;
}
#site-nav h1{
    margin-top: 8px;
}
.logo{
    float: left;
    line-height: 35px;
    margin:0;
}
.user-info{
    float: right;
    height: 35px;
    line-height: 35px;
}
.user-info a{
    color: #B7BCC3;
    padding-left: 20px;
}
.user-info a:hover{
    color: #e4b35a;
}
.user-pic-small{
    border-radius: 50%;
    width:30px;
    height: 30px;
}
.nav-links{
    float: left;
    margin-top: 2px;
    list-style: none;
    padding:0;
    font-size: 14px;
    width: 1500px;
}
.nav-links li{
    margin-right: 15px;
    float: left;
    padding:8px;
    cursor: pointer;
}
.nav-links li.current{
    color: #e4b35a;
    border-bottom:6px solid #e4b35a;
}
.nav-links li.current a{
    color: #e4b35a;
}
.nav-links li a{
    color: #dddddd;
}

.nav-links li a:hover{
    color: #e4b35a;
}
.form-search{
    float: right;
    position: relative;
    /*margin-top: 8px;*/
}
.form-search input{
    width: 288px;
    text-indent: 10px;
    height:28px;
    line-height:28px;
    border:1px solid #667485;
    background: none;
}
.form-search2 input{
    width: 288px;
    padding-left: 10px;
    height:28px;
    line-height:28px;
    border:1px solid #667485;
    background: none;
}
.form-search button{
    background: none;
    border: none;
    position: absolute;
    right: 6px;
    top: 5px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    color: #667485;
    cursor: pointer;
    padding: 0;
}

.form-search2 button{
    background: none;
    border: none;
    position: relative;
    right: 30px;
    height: 26px;
    padding: 0;
    top: 1px;
    font-size: 16px;
    color: #667485;
    cursor: pointer;
}
#footer{
    position: relative;
    min-width: 1120px;
    border-top:1px solid #51432c;
    margin-top: 20px;
}
.footer-hd{
    background: #141821;
    padding-bottom: 20px;
}
.footer-links{
    width:1120px;
    padding:13px 0 17px;
    margin:0 auto;
    overflow: hidden;
    border-bottom:1px solid #202431;
}
.footer-links li{
    height: 130px;
    border-right:1px solid #202431;
    float: left;
    width:255px;
    margin-right: 25px;
}
.footer-links li.last{
    border-right:0;
}
.footer-links li .title{
    font-size:18px;
    color: #e4b35a;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 40px;
    background: url("./img/icons.png") no-repeat;
}
.footer-links li .title1{
    background-position: 0 -176px;
}
.footer-links li .title2{
    background-position: -303px -176px;
}
.footer-links li .title3{
    background: url("../images/payment-icons/payment.png") no-repeat;
}
.footer-links li .title4{
    background: url("../images/parent_protection.png") no-repeat;
}
.footer-links li .links{
    padding-left:40px;
}

.footer-links li .qq-link{
    width:178px;
    height:45px;
    background: url("./img/icons.png") no-repeat;
    background-position: 0 -225px;
}
.footer-links li .links a{
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}
.footer-icons{
    background: url("./img/icons.png") no-repeat;
    background-position: 0 0;
    width:660px;
    height: 98px;
    margin: 20px auto;
}
.footer-bd{
    padding:15px 0;
    background-color: #111318;
    overflow: hidden;
}
.footer-bd-content {
    width: 1120px;
    margin: 0 auto;
}
.footer-bd-content-left{
    background: url("./img/icons.png") no-repeat;
    background-position: 0 -121px;
    width:388px;
    height: 47px;
    float: left;
    opacity: 0.3;
}
.copyright{
    float: left;
    margin-left: 20px;
    color: #4e4f53;
}
.copyright p{
    margin: 2px 0;
}
.copyright .company{
    color: #9f9f9f;
    font-size: 18px;
}
.friend-links{
    color: #4e4f53;
    overflow: hidden;
    width:1120px;
    margin: 0 auto;
}
.friend-links .friend-links-content{
    float: left;
    margin-left: 20px;
}

.friend-links-content a {
    color: #4e4f53;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}
.friend-links-content a:hover{
    color: #e4b35a;
}
.mall-nav{
    height: 30px;
    line-height:30px;
    background:rgba(10, 16, 28, 0.8);
}
.mall-nav-content{
    width: 1120px;
    margin: 0 auto;
}
.mall-nav-content span.glyphicon{
    padding:0 5px;
    font-size: 9px;
    -webkit-transform: scale(0.75);
    -o-transform: scale(1);
}
.mall-nav-content a{
    color: #9f9f9f;
}
#login-iframe body{
    background: none;
}
.modal-body{
    min-width: 500px;
    min-height: 80px;
    overflow: hidden;
}
.modal-login-reg{
    min-width: 550px;
    padding: 5px;
    background:rgba(117, 130, 143, 0.5);
    position: relative;
}
.modal-login-reg button.close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    z-index:9999;
}
.modal-login-reg .modal-body{
    padding: 20px;
    border: 1px solid #141821;
    background: url("../images/loginbg.jpg") no-repeat #394051;
    background-position: 80px 0;
    overflow: hidden;
}
.modal-login-reg .title{
    overflow: hidden;
    color: #fff;
    font-size: 14px;
}
.login-reg-left{
    float: left;
    border-right: 1px solid #696f87;
    padding-right: 28px;
}
.login-reg-form{

}
.login-reg-form .field{
    margin-top: 10px;
    position: relative;
}
.login-reg-form2 .field{
    margin-top: 10px;
    position: relative;
}
#reg-form .field{

}
.login-reg-form .field label{
    border-right:1px solid #696f87;
    position: absolute;
    left:1px;
    top: 1px;
    width: 38px;
    height: 38px;
    background: url("./img/icons.png");
    background-color: #3d4458;
}
.login-reg-form2 .field label{
    border-right:1px solid #696f87;
    position: absolute;
    left:1px;
    top: 1px;
    width: 38px;
    height: 38px;
    background: url("./img/icons.png");
    background-color: #3d4458;
}
.login-reg-form .username-field label{
    background-position: -3px -354px;
}
.login-reg-form2 .username-field label{
    background-position: -3px -354px;
}

.login-reg-form .pwd-field label{
    background-position: -55px -354px;
}
.login-reg-form2 .pwd-field label{
    background-position: -55px -354px;
}
.login-reg-form .field input{
    width: 250px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding-left: 52px;
    background: #475063;
    border: 1px solid #696f87;
}
.login-reg-form2 .field input{
    width: 300px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding-left: 52px;
    background: #475063;
    border: 1px solid #696f87;
}
.login-reg-form .chk-field{

}
.login-reg-form .chk-field input{
    width: 130px;
    padding-left: 10px;
    display: inline-block;
}
.login-reg-form2 .chk-field input{
    width: 180px;
    padding-left: 10px;
    display: inline-block;
}
.login-reg-form .chk-img,.login-reg-form2 .chk-img{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
}
.login-reg-form .login-links,.login-reg-form2 .login-links{
    overflow: hidden;
    margin:10px 0;
}
.login-reg-form .btn-submit{
    height:40px!important;
    width: 250px;
    border:none;
    line-height:40px!important;
    color: #fff;
    background: #ff9400;
    font-size: 14px!important;
    padding: 0!important;
}
.login-reg-form2 .btn-submit{
    height:40px!important;
    width: 300px;
    border:none;
    line-height:40px!important;
    color: #fff;
    background: #ff9400;
    font-size: 14px!important;
    padding: 0!important;
}
.other-login{
    float: left;
    margin-left: 40px;
    margin-top: 55px;
}
.other-login2{
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: url('../images/other-links-box.png') center 0 no-repeat;
}
.other-login a{
    display: block;
    width: 171px;
    height: 35px;
    margin-bottom: 20px;
    background: url("../img/icons.png");
    opacity: 0.8;
}
.other-login a:hover{
    opacity: 1;
}
.other-login a.link-steam{
    background-position: -303px -226px;
}
.other-login a.link-wx{
    background-position: -303px -281px;
}
.other-login a.link-qq{
    background-position: -303px -336px;
}
